{% extends "layout.html" %}

{% block title%}
About
{% endblock %}

{% block banner %}
static/images/molly_banner3.jpg
{% endblock %}

{% block content %}
<h1>ABOUT</h1>
<div class="container-fluid px-5">


<div class="row px-4 py-2">

<div class="col-lg-6 p-0"> <img class="img-fluid rounded mx-auto d-block" src="static/images/eva_stretching.jpg" alt="A photo of a girl lunging"></div>

<div class="col-lg-6 rounded column-text d-flex align-items-center">
    <div>
    <h3 id="about">OUR STORY</h3>
    <p class="story-text">When founder Molly Schaefer came to Samuel Marsden Collegiate School in 2019 she was very disappointed to
        discover the lack of dance throughout the school, so she decided to take it into her own hands, and start a
        dance club for everyone in the school to have a go, and have some fun during lunch. <br><br> From 2 people
        coming along to the classes, it has grown to around 25 and Molly and the rest of crew are still keen for it to
        grow even more. The biggest thing at Riptide is the relationships grown throughout the different year groups
        in the dance club, some of which still hold strong today. Come and join us in the dance studio today! </p>
        </div>
</div>
</div>


</div>


<h1 id="staff">STAFF</h1>
<div class="container-fluid px-5">
<div class="row py-4">
<div class="col-lg-2 col-sm-6"><img class="img-fluid rounded-circle mx-auto d-block" src="static/images/molly.jpg" alt="A photo of the dance teacher, Molly Schaefer"></div>
<div class="col-lg-4 col-sm-6"><h5><b>Molly Schaefer</b> <br> Molly is a Yr13 student and the founder of Riptide and has been
    passionate about dance from a very young age. She is part of the LA dance company and is currently involved in a
    range of styles , from tap and ballet to jazz. Teaching dance is one of her passions and she hopes to continue it
    for as long as she can.</h5></div>
<div class="col-lg-2 col-sm-6"><img class="img-fluid rounded-circle mx-auto d-block" src="static/images/Eva.jpg" alt="A photo of the dance teacher Eva Tunnicliffe"></div>
<div class="col-lg-4 col-sm-6"><h5><b>Eva Tunnicliffe</b> <br> Eva is also a Yr13 student and has been teaching dance alongside
    Molly since the start. She also trains at LA dance and has been dancing for 11 years and her favourite thing about
    it is the friends she has made along the way. She can teach all styles but specialises in jazz and she teaches
    once a week for Riptide.</h5></div>
</div>
</div>


<h1 id="competitions">COMPETITIONS</h1>
<div class=" container-fluid">
<div class="container">
<div class="background rounded">
<p class="competition-text">We offer 2-3 competitions a year for our students. These are great opportunities to develop your skills by watching
    some amazing performances and being judged on ways we can improve. The two competitions we are offering this year
    are Hip Hop Unite (HHU) and Impact Dance Experience and the details for both of these are below. We are aware that
    it can be a bit expensive so we do fundraising to ensure that all our dancers can compete in these competitions.</p>
    </div>
    <br>
    <div class="background rounded">
<div class="row align-items-center">
<div class="col-lg-2"><img class="img-fluid mx-auto d-block" src="static/images/hip_logo.png" alt=""></div>
<div class="col-lg-4"><p class="competition-text"><b>Hip Hop Unite</b> <br> Date: 9-10th June <br> Cost: $65 per dancer</p></div>
<div class="col-lg-2"><img class="img-fluid mx-auto d-block" src="static/images/impact_logo.png" alt=""></div>
<div class="col-lg-4"><p class="competition-text"><b>Impact Dance Experience</b> <br> Date: 23rd-24th June <br> Cost: $10 per dancer</p></div>
</div>
</div>
</div>
  </div>

<h1 id="shows">SHOWS</h1>
<p>At the end of every year we always have a big end of year show which takes place in the Opera House. It is loads
    of fun and often the highlight of the year for a lot of our students. There is always a major theme, in previous
    years it has been stories such as Alice in Wonderland, the Lion Queen and the Sound of Music! We also sometimes
    have other performances throughout the year for our students to showcase what they have been learning, but these
    are on a much smaller scale. Below you can see some photos from our previous shows. </p>
<br>
<div class="container-fluid">
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1" ></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/bunnies.jpg" alt="" class="img-fluid d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="static/images/flamingos.jpg" alt="" class="img-fluid d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="static/images/whole_cast_photo.jpg" alt="" class="img-fluid d-block w-100">
    </div>
      <div class="carousel-item">
      <img src="static/images/flowers.jpg" alt="" class="img-fluid d-block w-100">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
</div>
{% endblock %}