{% extends "layout.html" %}

{% block title%}
About
{% endblock %}

{% block banner %}
static/images/molly_banner3.jpg
{% endblock %}

{% block content %}
<h1>ABOUT</h1>
<div class="container-fluid px-5">


<div class="row py-4 ">

<div class="col-lg-6"> <img class="img-fluid rounded" src="static/images/eva_stretching.jpg" alt=""></div>

<div class="col-lg-6 rounded column-text"><h3>OUR STORY</h3>
    <h4>When founder Molly Schaefer came to Samuel Marsden Collegiate School in 2019 she was very disappointed to
        discover the lack of dance throughout the school so she decided to take it into her own hands, and start a
        dance club for everyone in the school to have a go, and have some fun during lunch. <br><br> From 2 people
        coming along to the classes, it has grown to around 25 and Molly and the rest of crew are still keen for it to
        grow even more. The biggest thing at Riptide is the relationships grown throughout the different year groups
        in the dance club, some of which still hold strong today. Come and join us in the dance studio today! </h4>
</div>
</div>


</div>


<h1>STAFF</h1>
<div class="container-fluid px-5">
<div class="row py-4">
<div class="col-lg-2"><img class="img-fluid rounded-circle" src="static/images/molly.jpg" alt=""></div>
<div class="col-lg-4"><h5><b>Molly Schaefer</b> <br> Molly is a Yr13 student and the founder of Riptide and has been
    passionate about dance from a very young age. She is part of the LA dance company and is currently involved in a
    range of styles , from tap and ballet to jazz. Teaching dance is one of her passions and she hopes to continue it
    for as long as she can.</h5></div>
<div class="col-lg-2"><img class="img-fluid rounded-circle" src="static/images/Eva.jpg" alt=""></div>
<div class="col-lg-4"><h5><b>Eva Tunnicliffe</b> <br> Eva is also a Yr13 student and has been teaching dance alongside
    Molly since the start. She also trains at LA dance and has been dancing for 11 years and her favourite thing about
    it is the friends she has made along the way. She can teach all styles but specialises in jazz and she teaches
    twice a week for Riptide.</h5></div>
</div>
</div>

{% endblock %}