{% extends "layout.html" %}

{% block title%}
Classes
{% endblock %}

{% block banner %}
static/images/molly_banner3.jpg
{% endblock %}

{% block content %}
<h1>CLASSES</h1>
<div class="container container-fluid">
<div class="row">
    <div class="col-lg-7">
        <p>We provide a range of different classes, from tap on a Monday to hip hop on a Friday, as our policy is that
            everyone can dance, you just have to find the right style. We have ex-Riptide dancer Eva to come and teach
            throughout the week to vary it up and we also offer private lessons for those keen to improve their skills
            in dance in general or specific styles. The cost for a year's worth of lessons is $50, as well as any extra
            competition costs and the cost for a private lesson is $10. To book a private lesson you can contact us using
            our contact form. The usual timetable can be seen below.
</p>
    </div>
    <div class="col-lg-5">
        <img class="img-fluid rounded mx-auto d-block" src="static/images/lucy_molly.jpg" alt="">
    </div>
</div>
    </div>
<h1>TIMETABLE</h1>
<div class="container container-fluid">
    <table class="table">
    <thead>
      <tr class="table-success">
        <th>Day of the Week</th>
        <th>Teacher</th>
        <th>Type of Dance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monday</td>
        <td>Molly Schaefer</td>
        <td>Tap</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>Eva Tunnicliffe</td>
        <td>Jazz</td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td></td>
        <td>Rest Day</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td>Molly Schaefer</td>
        <td>Contemporary</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>Molly Schaefer</td>
        <td>Hip Hop</td>
      </tr>
    </tbody>
  </table>
    </div>
<br>
{% endblock %}