{% extends "layout.html" %}

{% block title%}
Classes
{% endblock %}

{% block banner %}
static/images/molly_banner3.jpg
{% endblock %}

{% block content %}
<h1>CLASSES</h1>
<div class="container-lg container-fluid">
<div class="row">
    <div class="col-lg-7">
        <p class="classes-text">We provide a range of different classes, from tap on a Monday to hip hop on a Friday, as our policy is that
            everyone can dance, you just have to find the right style. We have ex-Riptide dancer Eva to come and teach
            throughout the week to vary it up and we also offer private lessons for those keen to improve their skills
            in dance in general or specific styles. The cost for a year's worth of lessons is $50, as well as any extra
            competition costs and the cost for a private lesson is $10. To book a private lesson you can contact us using
            our contact form. <a href="{{url_for('enrol')}}" class="stretched link">For a class please register here!</a></p>
    </div>
    <div class="col-lg-5">
        <img class="img-fluid rounded mx-auto d-block" src="static/images/lucy_molly.jpg" alt="A photo of two girls smiling at the camera">
    </div>
</div>
 </div>
<hr>
{% if session and session['authorisation'] == 0 %}
<div class="rounded">
    <div class="text-center">
        <a class="btn btn-primary" href="{{ url_for('classes_cud', id=0, task='add') }}">Add More</a>
    </div>
</div>
{% endif %}

{% for row in classes %}
<div class="container-lg container-fluid">
<div class="row">
<div class="col-lg-7">
    <h2 class="title-text">{{row['classes_title']}}</h2>
    <p class="classes-text">{{row['content']}}</p>
    <br>
    <div class=""><p class="classes-subtext {{ loop.cycle('text-start', 'text-end') }}">Posted by {{row['name']}}</p></div>
    {% if session and session['authorisation'] == 0 %}
    <div class="{{ loop.cycle('text-start', 'text-end') }}">
        <a class="btn btn-primary" href="{{ url_for('registration', classes_id=row['classes_id']) }}">View Registrations</a>
        <a class="btn btn-primary" href="{{ url_for('classes_cud', id=row['classes_id'], task='update') }}">Update</a>
        <a class="btn btn-primary" href="{{ url_for('classes_cud', id=row['classes_id'], task='delete') }}">Delete</a>
    </div>
    {% endif %}
</div>
<div class="col-lg-5 {{ loop.cycle('order-xl-first', '') }}">
    <img class="img-change img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='images/'+row['image']) }}" alt="">
</div>
</div>
</div>
<br>
{% endfor %}

<h1>TIMETABLE</h1>
<div class="container container-fluid">
    <table class="table">
    <thead>
      <tr class="table-success">
        <th>Day of the Week</th>
        <th>Teacher</th>
        <th>Type of Dance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monday</td>
        <td>Molly Schaefer</td>
        <td>Tap</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>Eva Tunnicliffe</td>
        <td>Jazz</td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td></td>
        <td>Rest Day</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td>Molly Schaefer</td>
        <td>Contemporary</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>Molly Schaefer</td>
        <td>Hip Hop</td>
      </tr>
    </tbody>
  </table>
    </div>
<br>
{% endblock %}