{% extends "layout.html" %}

{% block title%}
Enrol
{% endblock %}

{% block banner %}
static/images/molly_banner3.jpg
{% endblock %}

{% block content %}
<style>
    table{
        margin:auto;
    }

    td{
        font-size: 1.5em;
        padding: 0.25em;
        border-bottom: 1px solid gray;
    }

    td:first-child{
        text-align: right;
        font-weight: bold;
    }
</style>
<div class="container-lg">
    <h1>Your Details</h1>
    <table>
        <tr><td>First Name</td><td>{{ form_data['firstname'] }}</td></tr>
        <tr><td>Second Name</td><td>{{ form_data['secondname'] }}</td></tr>
        <tr><td>Age</td><td>{{ form_data['age'] }}</td></tr>
        <tr><td>Email</td><td>{{ form_data['email'] }}</td></tr>
        <tr><td>Type of Dance</td><td>{{ form_data['typeofdance'] }}</td></tr>
    </table>
    <br>

<div class="text-center">
    <a href="{{ url_for('index') }}" class="btn btn-primary">Cancel</a>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Confirm</a>
    <a href="{{ url_for('enrol', **form_data)}}" class="btn btn-primary">Edit</a>
</div>
    <br>
    </div>
{% endblock %}