<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width inital-scale=1">
     <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
<nav id="Home" class="navbar navbar-expand-sm fixed-top">
  <div class="container-fluid">

   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="{{url_for('index')}}"><img class="nav-logo" src="static/images/Riptide-1.png"></a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{url_for('about')}}" role="button" data-bs-toggle="dropdown">About</a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('about')}}#">Our Story</a></li>
            <li><a class="dropdown-item" href="{{url_for('about')}}#staff">Staff</a></li>
            <li><a class="dropdown-item" href="{{url_for('about')}}#competitions">Competitions</a></li>
            <li><a class="dropdown-item" href="{{url_for('about')}}#shows">Shows</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{url_for('classes')}}>Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('news')}}">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('enrol')}}">Enrol</a>
        </li>
      </ul>
    <div class="ms-auto">
        {% if session %}
        <a class="nav-link btn btn-outline" href="{{url_for('logout')}}">Log out</a>
        {% else %}
        <a class="nav-link btn btn-outline" href="{{url_for('login')}}">Log in</a>
        {% endif %}
    </div>
  </div>
</div>
    </nav>


<div class="img-container">
<img class="img-fluid" src="{%block banner %}{% endblock %}" alt="">
<div class="banner">RIPTIDE</div>
<div class="banner-quote">{%block quote %}{% endblock %}</div>
</div>
{% if session %}
<div class="session"> {{ session['name'] }} is logged in and their authorisation is {{ session['authorisation'] }}</div>
{% endif %}

{% block content %}

{% endblock %}



<footer class="footer-content">
    <img class="footer-image" src="static/images/Riptide-1.png">
    <div>&copy; 2019</div>
    </footer>

</body>
</html>