{% extends "layout.html" %}

{% block title%}
Log In
{% endblock %}

{% block banner %}
static/images/molly_banner3.jpg
{% endblock %}

{% block content %}
<h1>LOG IN</h1>
<div class="container container-fluid">
<form action="{{ url_for('enrol') }}" method="POST">
    <div>
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="" value="{{username}}" required>
    </div>
    <div>
        <label for="password" class="form-label">Password:</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="" value="{{password}}" required>
    </div>
    <div class="text-end">
        <button type="reset" class="btn btn-primary">Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</form>
    </div>
{% endblock %}