{% extends "layout.html" %}

{% block title %}
Registration Page
{% endblock %}

{% block banner %}
static/images/molly_banner3.jpg
{% endblock %}

{% block content %}
<h1>Registration Page</h1>
    <div class="container-fluid">
<table class="table">
    <thead>
      <tr>
        <th>Name:</th>
        <th>Email:</th>
      </tr>
    </thead>
    <tbody>
    {% for row in registrations %}
      <tr>
        <td>{{ row['name'] }} </td>
        <td>{{ row['email'] }}</td>
        <td><a class="btn btn-primary" href="">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}